@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

$dark_gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very_dark_gray: hsl(0, 0%, 27%);

@mixin desk {
    @media (max-width: 1580px) {
      @content;
    }
  }
  
  @mixin ipad_pro {
    @media (max-width: 1025px) {
      @content;
    }
  }
  
  @mixin ipad {
    @media (max-width: 991px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin mini {
    @media (max-width: 575px) {
      @content;
    }
  }

.carousel1{
    .container{
      padding: 0 20px;
      h1{
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 1em;
      }
      
      p{
        font-size: 14px;
        font-weight: 200;
        line-height: 1.5;
        margin-bottom: 15px;
        @include mobile(){
            text-align: center;
        }
      }
      
      a{
        margin-top: 30px;
        color: black;
        text-decoration: none;
        font-weight: 700;
        width: auto;
        transition: color 0.3s ease-in-out;
        font-size: 16px;
        @include mobile(){
            margin-top: 0;
        }
      }
    }
}

.cta-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding:  5px 10px;
  border-radius: 20px;
  transition: .3s linear;
  background-color: rgba(0,0,0, .7);
  span {
    margin-right: 30px;
    color: #FFF;
    @include mini(){
        font-size: 12px;
        margin-right: 10px;
        font-weight: 500;
    }
  }
  
  i{
    color: #FFF;
    transition: color 0.3s ease-in-out;
    @include mini(){
        font-size: 10px;
    }
  }
  
  &:hover {
    color: $dark_gray;
    
    i{
      color: $dark_gray;
    }
  }
  &:hover{
      background-color: rgb(7, 7, 7);
  }
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 40px -9px #89b2bfa1;
  width: 100%;
  margin-bottom: 20px;
  @include mobile(){
      flex-direction: column;
  }
}

.slider-left {
  min-height: 250px;
  display: flex;
  flex: 1;
  
  .slide{
    width: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @include mobile(){
      position: relative;
  }
}

.slider-right {
  position: relative;
  display: flex;
  background-color: #fff;
  flex: 1;
  padding-bottom: 50px;

  .slide{
    display: flex;
    align-items: start;
    justify-content: center;
    min-width: 100%;
    padding: 50px;
    @include ipad(){
        padding: 10px;
    }
    @include mobile(){
        align-items: center;
    }
    h1{
        font-size: 20px;
        @include ipad(){
            font-size: 16px;
            margin-bottom: 0;
        }
        @include mobile(){
            font-size: 14px;
            line-height: 12px;
            text-align: center;
        }
        @include mini(){
            font-size: 12px;
        }
    }
    p{
        text-align: start;
        padding: 0;
        @include mobile(){
            font-size: 12px;
            text-align: center;
            line-height: 12px;
        }
        @include mini(){
            font-size: 10px;
            margin: 0;
        }
    }
  }

  .slider-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;

    #slide-left, #slide-right {
      width: 40px;
      height: 40px;
      display: flex;
      border-radius: 50%;
      margin-right: 5px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      background-color: green;
      transition: background-color 0.2s ease;
      outline: none;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $very_dark_gray;
      }
      @include mobile(){
          width: 25px;
          height: 25px;
          font-size: 10px;
          border-radius: 0;
      }
    }
    @include mobile(){
        justify-content: center;
        right: 0;
        position: absolute;
    }
  }
  @include mobile(){
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0, .5);
      color: #fff;
      padding-bottom: 20px;
  }
}

.slider-left, .slider-right{
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  min-width: 50%;
}

.slide{
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 420px){
  .slider-container {
    height: auto;
    flex-direction: column;
  }
  
  .slider-right .slide {
    padding: 25px;
    @include mobile(){
        padding: 10px;
    }
  }
}